<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="requestFile" fileName="logs/requests.log" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} ${uppercase:${level}}: ${message} | request #${mdlc:item=RequestNumber}" />
		<target xsi:type="File" name="booksFile" fileName="logs/books.log" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} ${uppercase:${level}}: ${message} | request #${mdlc:item=RequestNumber}" />
		<target xsi:type="Console" name="console" layout="${date:format=dd-MM-yyyy HH\:mm\:ss.fff} ${uppercase:${level}}: ${message} | request #${mdlc:item=RequestNumber}" />
	</targets>

	<rules>
		<logger name="request-logger" minlevel="Info" writeTo="requestFile, console" />
		<logger name="books-logger" minlevel="Info" writeTo="booksFile" />
	</rules>
</nlog>
